*/5 * * * * . $HOME/.config/shell/profile; /usr/bin/mailsync
*/15 * * * * . $HOME/.config/shell/profile; /home/navin/.local/bin/bugwarrior-pull
*/15 * * * * . $HOME/.config/shell/profile; DISPLAY=:0 DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus notify-send -u critical "NEW jira tickets" "$(jira issue list -ax -R unresolved --jql 'sprint in futureSprints() and sprint != "Last resort - Accepted" and sprint != "Last resort - Proposed"' --plain --no-headers | cut -f3)"
