/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

/*
Arc-Dark Color Scheme
*/
@define-color highlight #5294e2 ;
@define-color base1  #404552 ;

@keyframes blink-warning {
    70% {
        color: white;
    }

    to {
        color: white;
        background-color: orange;
    }
}

@keyframes blink-critical {
    70% {
      color: white;
    }

    to {
        color: white;
        background-color: red;
    }
}

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 1px;
    padding: 0;
}

/* The whole bar */
window#waybar {
    background-color: rgba(43, 48, 59, 0.5);
    color: #bebebe;
    transition-property: background-color;
    transition-duration: .5s;
    font-family: mono;
    font-size: 14px;
}

window#waybar.hidden {
    opacity: 0.2;
}

/* Every modules */
#battery,
#clock,
#backlight,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#custom-weather,
#network,
#pulseaudio,
#temperature,
#tray,
#idle_inhibitor,
#custom-PBPbattery {
    padding:1px 1px;
    margin: 0px 0px;
}

/* -----------------------------------------------------------------------------
 * Modules styles
 * -------------------------------------------------------------------------- */

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning {
    color: orange;
}

#battery.critical {
    color: red;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#cpu.warning {
    color: orange;
}

#cpu.critical {
    color: red;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: orange;
 }

#memory.critical {
    color: red;
    animation-name: blink-critical;
    animation-duration: 2s;
    padding-left:5px;
    padding-right:5px;
}

#mode {
    background: @highlight;
    border-bottom: 1px transparent;
    color:white;
    margin-left: 5px;
    padding: 2px;
}

#network.disconnected {
    color: orange;
}

#pulseaudio {
    padding-top:2px;
}

#pulseaudio.muted {
    color: @highlight;
}

#temperature.critical {
    color: red;
}

#window {
    font-weight: bold;
}

#workspaces {
    font-size:13px;
}

#workspaces button {
    border-bottom: 1px solid transparent;
    margin-bottom: 0px;
    padding:0px;
}

#workspaces button.active {
    border-bottom: 1px solid  @highlight;
    margin-bottom: 1px;
    padding-left:0;
}

#workspaces button.urgent {
    border-color: #c9545d;
    color: #c9545d;
}

#custom-power {
    margin-left:15px;
    margin-right:15px;
    font-size:15px;
}

#custom-launcher {
    font-size:13px;
    margin-left:15px;
    margin-right:10px;
}

#backlight.icon {
    padding-right:1px;
    font-size: 13px;
}

#power-profiles-daemon {
    padding-right: 15px;
    padding-left: 15px;
}

#power-profiles-daemon.performance {
    color: #f53c3c;
}

#power-profiles-daemon.balanced {
    color: #2980b9;
}

#power-profiles-daemon.power-saver {
    color: #2ecc71;
}

#cpu {
  color: #2ecc71;
}

#memory {
    color: #9b59b6;
}

#disk {
    color: #964B00;
}

#backlight {
    color: #90b1b1;
}

#network {
    color: #2980b9;
}

#network.disconnected {
    color: #f53c3c;
}

#pulseaudio {
    color: #f1c40f;
}

#pulseaudio.muted {
    color: #90b1b1;
}

#wireplumber {
    color: #fff0f5;
}

#wireplumber.muted {
    color: #f53c3c;
}
